

body, header, nav, main, footer, h1, div, img, ul, li,a{
    margin: 0;
    padding: 0;
    border: 0;
}


/* Style rules for body and images */
body {
    background-color: #000;
    
}

     
img {
    max-width: 100%;
    display: block;
}


/* Style rule for header*/
header {
   display:block;
    width: 20%;
    float: left;
}
header img {


}

/* Style rules for navigation area */
nav {
  padding: 1%;

}

nav ul {
    list-style-type: none;
  margin-top: 10em;
    text-align: left;
 
}

nav li {
    display: inline-block;
    font-size: 2.8em;
    font-family: Verdana, Ariel, sans-serif;
    font-weight: bold;
    border-left: 5px solid lightseagreen;
    
}

nav li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 0.5em 1em;
    text-decoration: none;
}

nav li:first-child {
  border-left: none;
}

/* Style rules for main content */
main {

      clear:left;
    background-color: darkgray;
    padding-top:3%; 
     padding-bottom:4%; 
    font-size: 1.25em;

}

#mainb {
    display: inline-block;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    background-color: ghostwhite;
    padding: 1% 2%;
}
#maina {
    display: inline-block;
    margin-left: 2em;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    background-color: ghostwhite;
    padding: 1% 2%;
}

#homepic img{
    display: inline-block;
    width: 100%;
    display: block;
     object-fit: fill;


}
.container{
      position: relative;

}
.top-right {
  position: absolute;
  top: 7px;
  right: 19px;
  color: #fff;
   
}
.top-right h3{
    font-size: 3em;
   
}
.top-right h4{
    text-align: right;
    font-size: 1.25em;
color: #fff;
   
}

#Location {
   
    float: left ;
    
}
.map{
    border: 8px solid #000;
}
#picture{
    position:relative;
 border: 8px solid #fff;
    float:right;
  

}
.action{
    font-size: 1em;
    font-weight: bold;
}
#aboutuspic img{

     border: 8px solid #fff;
    float: right;
    height: auto;
    width: 500px;
    margin-right: 2em;

}
#aboutUs h2{
    color:lightseagreen;
    
}

#aboutUs h3{
    color:mediumvioletred;
    
}

#Sandwishes,#Spagetti,#RobertosSpecial{
    width: 20%;
    float: left ;
    margin: 0 6%;
    

}
#Hours{
  
    padding-left: 1em;
}
#Hours h1{
    border-bottom: 2px solid #000;
    color:lightseagreen;

}
#Hours h3{
  
    color:mediumvioletred;

}

#Sandwishes ul{
    margin-left: 2em;
    color:#000;
    
}

#Sandwishes h1{
    color:lightseagreen;
    
}

#Sandwishes h3{
    color:mediumvioletred;
    
}

#Spagetti ul{
    margin-left: 2em;
    color:#000;

}

#Spagetti h1{
    color:lightseagreen;
    
}

#Spagetti h3{
    color:mediumvioletred;
    
}


#RobertosSpecial ul{
    margin-left: 2em;
    color:#000;
}

#RobertosSpecial h1{
    color:lightseagreen;
    
}

#RobertosSpecial h3{
    color:mediumvioletred;
    
}
footer p {
    font-size: 1em;
    text-align: center;
    color: #fff;
    padding: 1 2em;
    margin-top: 1em;
   
}

footer p a {
    color: #fff;
    text-decoration: none;

}

/* Style rules for mobile viewports */
@media screen and (max-width: 769px), print{
    
header{
   
  background-color: #000;
  height: 240px;


}
header img {
  margin: 0 auto;
        
        
}
    
nav {
  padding-top: 20%;
      margin: 0 auto;


}

nav ul {
    list-style-type: none;
  margin-top: 10em;
    text-align: center;
 
}

nav li {
    display: block;
    font-size: 2.8em;
    font-family: Verdana, Ariel, sans-serif;
    font-weight: bold;
    border-bottom: 5px solid lightseagreen;


    
}

nav li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 0.5em 1em;
    text-decoration: none;
}

nav li:last-child {
  border-bottom: none;
    
    }


/* Style rules for footer content */
footer p {
    font-size: 1em;
    text-align: center;
    color: #fff;
    padding: 1 2em;
    margin-top: 1em;
   
}

footer p a {
    color: #fff;
    text-decoration: none;

}
    main {

      clear:left;
    background-color: darkgray;
    padding-top:3%; 
     padding-bottom:4%; 
    font-size: 1.25em;

}
#mainb {
    display: inline-block;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    background-color: ghostwhite;
    padding: 1% 2%;
}
    
#maina {
    display: block;
   
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    background-color: ghostwhite;
    padding: 1% 2%;
}
    #Location {
   
   
    
}
    .action{
    font-size: 1em;
    font-weight: bold;
}
.map {
  border: 8px solid #000;
  padding-left: 0.4em;
  width: 95%;
  height: 50%;
}
.top-right {
  color: #fff;
    
}
.top-right h3{
    font-size: 2em;
   
}
    
.top-right h4{
    text-align: right;
    font-size: 1.25em;
color: #fff;
   
}
    
#Hours h1{
    color:lightseagreen;

}
#Hours h3{
  
    color:mediumvioletred;

}

#Sandwishes ul{ 
    color:#000;
    
}

#Sandwishes h1{
    color:lightseagreen;
    
}

#Sandwishes h3{
    color:mediumvioletred;
    
}

#Spagetti ul{
    color:#000;

}

#Spagetti h1{
    color:lightseagreen;
    
}

#Spagetti h3{
    color:mediumvioletred;
    
}


#RobertosSpecial ul{
    color:#000;
}

#RobertosSpecial h1{
    color:lightseagreen;
    
}

#RobertosSpecial h3{
    color:mediumvioletred;
    
}

  
}
#aboutUs h2{
    color:lightseagreen;
    
}

#aboutUs h3{
    color:mediumvioletred;
    
}
}